/* Font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: "Lato", "Apple SD Gothic Neo", "Spoqa Han Sans Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
}
.font_lato {
  font-family: "Lato", sans-serif;
}
.font_notosans {
  font-family: "Noto Sans KR", sans-serif;
}
.font_spoqa {
  font-family: "Spoqa Han Sans Neo", sans-serif;
}
.font_archivo {
  font-family: "Archivo", sans-serif;
}
.font_montserrat {
  font-family: "Montserrat", sans-serif;
}

/* Default */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, button, textarea {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}
img {
    max-width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-user-drag: none;
    pointer-events : none;
}
ol, ul, dl, li {
    list-style: none;
}
a {
    text-decoration: none;
    cursor: pointer;
}
a:link, a:hover, a:active, a:visited {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    position: relative;
    width: 100%;
    margin: 0 auto;
    line-height: 1;
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
            user-select: none;
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
    word-break : keep-all;
    overflow-wrap : break-word;
}

/* Specific */
/* Size display */
.ver_pc .for_mob {
  display: none;
}

.ver_mob .for_pc {
  display: none;
}

/* Text Align */
.txt_center {
  text-align: center;
}
.txt_left {
  text-align: left;
}
.txt_right {
  text-align: right;
}

/* Font Size */
.fs20 {
  font-size: 20px;
}
.fs22 {
  font-size: 22px;
}
.fs24 {
  font-size: 24px;
}
.fs26 {
  font-size: 26px;
}
.fs40 {
  font-size: 40px;
}

@media screen and (max-width: 1359px) {
  .fs20 {
    font-size: 18px;
  }
  .fs22 {
    font-size: 20px;
  }
  .fs24 {
    font-size: 22px;
  }
  .fs26 {
    font-size: 24px;
  }
  .fs40 {
    font-size: 36px;
  }
}

@media screen and (max-width: 1150px) {
  .fs20 {
    font-size: 17px;
  }
  .fs22 {
    font-size: 19px;
  }
  .fs24 {
    font-size: 21px;
  }
  .fs26 {
    font-size: 23px;
  }
  .fs40 {
    font-size: 32px;
  }
}

@media screen and (max-width: 950px) {
  .fs20 {
    font-size: 16px;
  }
  .fs22 {
    font-size: 18px;
  }
  .fs24 {
    font-size: 20px;
  }
  .fs26 {
    font-size: 22px;
  }
  .fs40 {
    font-size: 28px;
  }
}

@media screen and (max-width: 750px) {
  .fs20 {
    font-size: 14px;
  }
  .fs22 {
    font-size: 15px;
  }
  .fs24 {
    font-size: 15px;
  }
  .fs26 {
    font-size: 15px;
  }
  .fs40 {
    font-size: 24px;
  }
}

@media screen and (max-width: 319px) {
  .fs20 {
    font-size: 12px;
  }
  .fs22 {
    font-size: 14px;
  }
  .fs24 {
    font-size: 15px;
  }
  .fs26 {
    font-size: 15px;
  }
  .fs40 {
    font-size: 20px;
  }
}

/* Font Color */
.white {
  color: #fff;
}
.black {
  color: #000;
}

/* Font Weight */
.fw100 {
  font-weight: 100;
}
.fw200 {
  font-weight: 200;
}
.fw300 {
  font-weight: 300;
}
.fw400 {
  font-weight: 400;
}
.fw500 {
  font-weight: 500;
}
.fw600 {
  font-weight: 600;
}
.fw700 {
  font-weight: 700;
}
.fw800 {
  font-weight: 800;
}
.fw900 {
  font-weight: 900;
}