.content .intro {
  padding: 80px 0px 42px;
}

.content .intro .logo {
  display: flex;
  justify-content: center;
}

.content .intro .logo figure img {
  height: 40px;
}

.content .collection {
  padding: 22px 0px 43px;
}

.content .intro p {
  line-height: 1.8;
  padding-bottom: 30px;
}

.mdpick {
  display: flex;
  justify-content: center;
}

.ver_pc .mdpick {
  padding: 30px 0px;
}

.mdpick .mdpick_wrap {
  max-width: 1360px;
}

.mdpick_box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.ver_pc .mdpick_box {
  min-width: 1360px;
  padding: 30px 0px;
}

.ver_mob .mdpick_box {
  display: flex;
  justify-content: center;
  padding: 14px;
  background: white;
}

.mdpick_box .img_big {
  width: 50%;
}

.mdpick_box .img_big figure img {
  width: 100%;
}

.mdpick_box .info {
  background: white;
  position: relative;
}

.ver_pc .mdpick_box .info {
  height: 900px;
}

.mdpick_box .info .img_small img {
  width: 100%;
}

.mdpick_box .title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.mdpick_box .title .left .num {
  text-decoration: underline;
  padding-left: 16px;
}

.ver_pc .mdpick_box .comment {
  padding: 24px 30px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.ver_mob .mdpick_box .comment {
  padding: 14px 6px;
}

.ver_pc .mdpick_box .comment h5 {
  padding-left: 20px;
  padding-bottom: 14px;
}

.ver_mob .mdpick_box .comment h5 {
  padding-bottom: 8px;
  font-weight: 600;
}

.mdpick_box .comment p {
  line-height: 1.45;
}

.banner_wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: white;
  padding-top: 60px;
}

.banner {
  width: 100%;
  max-width: 1360px;
  height: 150px;
  padding: 0px 30px;
}

.banner .banner_link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner .name {
  height: 60px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.ver_mob .banner .name {
 padding-bottom: 0px;
}

.banner .name img {
  height: 14px;
}

.banner .btn img {
  height: 70px;
}

.ver_pc .banner .name p {
  margin-top: 20px;
}

.ver_mob .banner .name p {
  margin-top: 10px;
  line-height: 1.25;
}

@media screen and (max-width: 785px) {
  .content .intro {
    padding: 46px 22px;
  }

  .content .intro .logo figure img {
    height: 20px;
  }

  .content .collection {
    padding: 12px 0px 25px;
  }

  .content .intro p {
    padding-bottom: 20px;
  }

  .mdpick_box .title {
    padding: 14px;
  }

  .banner {
    height: 100px;
    padding: 0px 20px;
  }
}
