main {
  width: 100%;
}

main .main_visual {
  background: #f4ede0 url("https://dcodeimages1.s3.ap-northeast-1.amazonaws.com/2059/visual_bg.jpg") no-repeat center center;
  padding: 186px 0px;
  display: flex;
  justify-content: center;
}

main .main_visual .text {
  width: calc(100% - 54px);
  max-width: 1100px;
}

main .main_visual .text p:nth-child(1) {
  font-size: 40px;
  line-height: 1.2;
}

main .main_visual .text p:nth-child(2) {
  font-size: 20px;
  padding-top: 40px;
  line-height: 1.6;
}

main .about {
  width: 100%;
  padding: 72px 0px;
  display: flex;
  justify-content: center;
}

main .about .text {
  width: calc(100% - 54px);
  max-width: 1100px;
}

main .about .text p {
  font-size: 20px;
  line-height: 1.8;
  padding-bottom: 33px;
}

main .about .text p:last-child {
  padding-bottom: 0px;
}

.edit {
  width: 100%;
  background: url("https://dcodeimages1.s3.ap-northeast-1.amazonaws.com/2059/edit_bg.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
}

.edit a {
  padding: 82px 0px 86px;
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.edit a .wrapper {
  width: calc(100% - 54px);
  max-width: 1100px;
  margin: 0px auto;
}

.edit a .wrapper p:first-child {
  font-size: 38px;
}

.edit a .wrapper p:nth-child(2) {
  padding: 35px 0px 112px;
  font-size: 20px;
  line-height: 1.7;
}

.edit a .wrapper .arrow {
  width: 179px;
}

.notice {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 64px;
}

.notice .wrapper {
  background-color: #f2f2f2;
  padding: 44px 27px;
  text-align: center;
  width: 100%;
  max-width: 1100px;
}

.notice .wrapper ul {
  width: 100%;
  font-size: 20px;
  line-height: 1.5;
}

.notice .wrapper ul li {
  position: relative;
  word-break: keep-all;
}

.notice .wrapper ul li::before {
  display: inline-block;
  position: relative;
  padding-right: 6px;
  content: "-"
}

@media screen and (max-width: 768px) {
  main .main_visual {
    padding: 60px 0px 240px;
    background-position: right 38% bottom -76px;
    background-size: auto 90%;
  }

  main .main_visual .text p:nth-child(1) {
    font-size: 26px;
  }

  main .main_visual .text p:nth-child(2) {
    font-size: 16px;
  }

  main .about {
    padding: 42px 0px;
  }

  main .about .text p {
    font-size: 14px;
    padding-bottom: 25px;
  }
  
  main .about .text p:last-child {
    padding-bottom: 0px;
  }

  .edit a .wrapper p:first-child {
    font-size: 26px;
  }

  .edit a .wrapper p:nth-child(2) {
    padding: 20px 0px 65px;
    font-size: 14px;
  }

  .edit a .wrapper .arrow {
    width: 104px;
  }

  .notice {
    padding-top: 38px;
  }

  .notice .wrapper {
    text-align: left;
  }

  .notice .wrapper ul {
    font-size: 16px;
  }

  .notice .wrapper ul li {
    padding-left: 11px;
  }

  .notice .wrapper ul li::before {
    padding-right: 0px;
  }
}